<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()" >
    <div class="form-group">          
      <input type="text" name="text" [(ngModel)]="text"  class="form-control" placeholder="adauga task...">
      <!-- ngModael face un binding cu proprietatea text care se schimba cand se da click pe un log pentru a-l edita -->
    </div>
    <input type="submit" value="salveaza task" class="btn btn-light" [disabled]="!this.text">
    <button (click)="clearState()" type="button" class="btn btn-warning" [hidden]=!this.text>anuleaza</button>
  </form>
</div>